certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
colorlog==6.8.2
cryptography==43.0.0
docker==7.1.0
idna==3.7
protobuf==3.20.0
psutil==6.0.0
pycparser==2.22
PyYAML==6.0.1
pyzmq==26.1.0
requests==2.32.3
sawtooth-sdk==1.2.5
secp256k1==0.14.0
toml==0.10.2
urllib3==2.2.2
